
@import url('http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400');

@import url('http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css');

@import url('http://fonts.googleapis.com/css?family=Raleway:600,400');

@import url('http://weloveiconfonts.com/api/?family=zocial');


html {
  	font-family: sans-serif;
  	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;  
    max-width: 1430px;
    margin: 0 auto;  

}

abbr[title] {
  	border-bottom: 2px dotted;
}

body {
  	color: white;
    font-family: 'Raleway', sans-serif;
  	font-size: 16px;
  	line-height: 2em;
    margin:0;    
    width: 100%;
    background-color: black;


}

.home {
  background-image: url(stars.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -48px;
 
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px; 
  height: 736px;
}

#intro {
  margin: auto;
  text-align: center;
  /*height: 500px;*/
  padding-top: 200px;
}
#menu{
  float: right;  
}

#menu ul{
  margin: 0;
}

#header{
  position: fixed;
  padding: 10px 5px;
  height: 30px;
  width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 10;

}

#logoheader  {
  /*margin-top: 18px;*/

  font-size: 30px;
  color:#FFFFFF;
  float:left;
}

#social-stuff{
  text-align: center;
  width: 30%;
  float: left;
    /*padding-top: 200px;*/
}

#logo-principal{
   /*padding-top: 200px; */
  float: left;
  width: 40%;
  
}
#logo-principal img{
  width: 250px;
  height: 250px;
}

#mini-desc{
    /*padding-top: 300px;*/
  text-align: right;
/*  width: 30%;
*/}


/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.icon{
  display: inline-block;
  position: relative;
  color: #bdbdbd;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.47em;
  line-height: 2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 0px #bdbdbd, 0px 3px 10px #bababa;
  -webkit-transition:background-color 250ms ease 0s;
  transition:background-color 10ms ease 0s;
}

.zocial-facebook{margin-left: -8px}

.icon.facebook:hover{background-color: #4986c7;}
.instagram:hover{background-color: #4986c7;}
.linkedin:hover{background-color: #29a0cc;}
.youtube:hover{background-color: #a32929;}
.google:hover{background-color: #d34836;}

#social-stuff a{
  text-decoration: none;
}

.icon:hover{
  color: #fff;
}

.icon:active{
  top: 3px;
}

#menu li{
  display: inline;
  color:white;
  list-style: none;
  padding:15px 15px;
  font-size: 20px;
  text-decoration: none;
} 
#header a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: underline;
  border-bottom: 3px;
  border-color: #CBE86B;
  border-bottom-style: solid;
} 

a:visited{
  color:white;
}

abbr[title] {
	border: none;
}

.preamble abbr,
.supporting div abbr,
.requirements abbr {
 	border-bottom: 1px dotted #30e0ad;
}
.preamble abbr:hover:after,
.supporting div abbr:hover:after,
.requirements abbr:hover:after {
  	content: ' (' attr(title) ')';
  	text-shadow: 0 0 1em #dd3b2a;
}

.summary {
	text-align: right;
	max-width: 230px;
	margin-top: 30px;
	margin-left: 830px;
	width: 100%;
}


.inicio {
  clear:both;
  width: 100%;
  border-top: 3px;
  border-color: #4986c7;
  border-top-style: solid;
  margin: 0;
  /*text-align: justify;*/
  height: 736px;
}

.inicio h3{

  margin-top: 40px;
  font-size: 36px;
  font-weight: bolder;
}
/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }    

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {      
  transform: rotateY(180deg);   
}    
.flip-container, .front, .back {    
  width: 100%;
  height: 250px;   
}

/* define a velocidade da transição */
.flipper {    
  transition: 0.6s;   
  transform-style: preserve-3d;     
  position: relative; 
  float:left; 
  width: 30%;
  height: 250px;  
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  }
    
/* esconde o verso durante a animação */
#flip1 .front, .back {   
  backface-visibility: hidden;   
  /*height: 340px;*/
  padding-top: 80px;
  position: absolute;   
  top: 0;   
  left: 0;  
  
}

#flip1 .front{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;

}

     
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }


#einsteinFoto{
  background: url(einstein.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


#t_autor{
  float: left;
  width: 40%;
  padding: 1%;
  background: #4986c7;
  height: inherit;
}


#ship{
  position: absolute;
  right:90px;
  top: 1600px;

}

#shot{
  position: absolute;
  right:120px;
  top: 1450px;

}

#invaders{
  position: absolute;
  right:90px;
  top: 1000px;

}

#score{
  position: absolute;
  right:450px;
  top: 1350px;

}


#projects{
	clear:both;
	margin-top:20px;
	border-top: 5px solid #67BAF5;
}

#projects a{
  color: #7AB317;

}

#projects img{
  border-color:  #4986c7;
  border-width:  4px;
  border-style: solid;
  height: 150px;
  width: 150px;
}

#projects .proj{
	text-align: justify;
  width: 56%;
  padding: 1%;
  float: right;
}

#projects .proj-footer{
  border-top-color:  white;
  border-top-width:  4px;
  border-top-style: solid;
}

.proj-t{
  font-size: 36px;
  font-weight: bolder;
  margin-top: 40px;
  text-align: left;
  background: #67BAF5;
}

.p1{
  background: #67BAF5;
}

.p2{
  background: #9ED7FF;
  color: #F1F1F1;
}

.p3{
  background: #BBE3FF;
  color: #7E7E7E;

}

.p4{
  background: #D1ECFF;
  color: #7E7E7E;

}

.p5{
  background: #EDF7FF;
  color: #505050;

}

#p1-tetris{
  position: absolute;
  left: 400px;
  top: 2500px;
  height:190px;
  width: 135px;


}

#p2-tetris{
  position: absolute;
  left:70px;
  height:170px;
  width: 125px;
  top: 2700px;

}

#p3-tetris{
  position: absolute;
  height:170px;
  width: 125px;
  left:300px;
  top: 2000px;

}

#p4-tetris{
  position: absolute;
  height:170px;
  width: 125px;
  left:100px;
  top: 2300px;

}

#base-tetris{
  position: absolute;
  left:0px;
  top: 3095px;
  width: 42%;
  max-height: 434px;

}


#vitae{
  clear: both;
  margin-top:20px;
  border-top: 5px solid #EDF7FF;

}

#vitae-content{
  width: 40%;
  padding: 1%;
  background: rgba(245,245,245,1);
  background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 44%, rgba(145,232,66,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(44%, rgba(245,245,245,1)), color-stop(100%, rgba(145,232,66,1)));
  background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 44%, rgba(145,232,66,1) 100%);
  background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 44%, rgba(145,232,66,1) 100%);
  background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 44%, rgba(145,232,66,1) 100%);
  background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 44%, rgba(145,232,66,1) 100%);
  color: black;
}

#vitae h3{

  margin-top: 40px;
  font-size: 36px;
  font-weight: bolder;
}

.vitae-footer{

  border-top: 5px solid #7AB317;
}

#vitae a{
  color: white;
}

#pacman{
  position: absolute;
  right: 300px;
  top: 4100px;
  width: 400px;
  height: 250px;

}

#ghosts{
  position: absolute;
  right: 100px;
  top: 3700px;
}

#contato{
  clear:both;
  border-top: 5px solid #7AB317;

}

#mapa{
/*  margin: auto;
  width: 80%; 
  height: 500px; 
  border: 3px solid white;
*/}

#mapa{
  width: 56%;
  float:right;
  background: #7AB317;
  height: 665px; 
  padding: 1%;

}

#left-map{
  border: 3px solid #7AB317;
  padding: 4%;
  width: 30%;

}
.parallax-div{
  z-index: -2;
}

footer{
  clear:both;  
  padding: 10px 5px;
  height: 45px;
  width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 10;  
  text-align: center;
  border-top: 3px solid white;

}

.grande{
  display: none;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);

}
.parallax-back{
   transform: translateZ(-1px);
}

@media screen and (max-width: 1200px) {
    .parallax-div{
      display: none;    
    }
}

@media screen and (max-width: 665px) {
    #mini-desc{
      clear: both;
      width: 100%;
    }
    #logo-principal{
      clear:both;    
      width: 100%;
    }
    #menu ul li{
      font-size: 23px;
      padding: 2px;
      padding: 5px;
      width: 60%;
    }
    #menu ul{
      padding: 0;
    }
    
 }


@media screen and (max-width: 800px) {
   #projects .proj{
      width: 90%;
      margin: 0 auto;
      clear: both;
      padding: 1%;
  }
  #base-tetris{
    display: none;
  }

}

@media screen and (max-width:1152px) {
   .flipper{
      clear:both;  
      width: 90%;
      margin: 0 auto;
    }

    #t_autor{
      clear:both;  
      width: 100%;
    }
    #einsteinFoto{
      display: none;
    }
    #mapa{
      width: 100%;
      clear: both;

    }
    #left-map{
      width: 80%;
      clear: both;
      margin: 0 auto;
    }
    #vitae-content{
      width: 100%;
      clear: both;
    }

}




